# PHP5
<FilesMatch "\.(inc|php)$">
AddHandler x-httpd-php5 .inc .php
</FilesMatch>
 
 
# FRIENDLY URL's : 
# ----------------
Options -MultiViews
RewriteEngine on 
RewriteRule ^([a-zA-Z0-9_-]+)/?$ profile.php?alias=$1 [L,QSA] 
RewriteRule ^get/(([a-zA-Z0-9_]+)/)?([a-zA-Z0-9_]+)(/(\S+\.\S+))?/?$ get.$3.php?format=$2&file=$5 [L,QSA] 
