/*table.editable {width: 100%; border-collapse: collapse; } 
table.editable td {border: 1px solid gray; overflow: hidden; }
table.editable td.changed {border: 2px solid red; }
table.editable td.saving {border: 2px solid orange; }
table.editable td textarea {border: 0px; width: 100%; height: 17px;  }*/  

.checkbox {width: 21px; height: 21px; background: url("../img/checkbox.png") no-repeat left center; color: rgba(0,0,0,0); overflow: hidden; display: inline-block; padding: 0; margin: 0; border: 0;  }
.checkbox:hover {color: rgba(0,0,0,0); }
.checkbox.on {background-position: left;  }
.checkbox.off {background-position: right;  }
.checkbox.fixed {background-image: url("../img/checkboxfixed.png"); }

.actiondelete {width: 21px; height: 21px; background: url("../img/delete.png") no-repeat left center; color: rgba(0,0,0,0); overflow: hidden; display: inline-block; padding: 0; margin: 0; border: 0;  }
.actiondelete:hover {color: rgba(0,0,0,0); }