h1 {
	font-size: 20pt;
}

h2 {
	font-size: 13pt;
}

legend {
	font-size: 12pt;
}

fieldset {
	padding: 0 0 1.87em 0;
	width: 50em;
}

fieldset > p {
	padding: 0 0 0 1.25em;
}

#inhoud input[type="text"], #inhoud input[type="password"] {
	width: 176px;
}

#inhoud input[name^="txtV"] {
	width: 22.5em;
	max-width: 22.5em;
}

.enabled {
	background: #ffffff;
}

.disabled {
	background: #dadada;
}

.credits p {
	height: 70px;
}

.tijdMail {
	height: 100px;
}

@media(max-width: 760px) {
	fieldset {
		padding: 0 0 1em 0;
		width: 40em;
	}

	fieldset > p {
		padding: 0 0 0 0.5em;
	}
}

@media(max-width: 660px) {
	fieldset {
		width: 35em;
	}
}

@media(max-width: 560px) {
	fieldset {
		padding: 0;
		width: 30em;
	}
}

@media(max-width: 490px) {
	#inhoud {
		width: 95%;
	}
}

@media(max-width: 450px) {
	#inhoud {
		width: 100%;
	}

	fieldset {
		width: 25em;
	}
}

@media(max-width: 375px) {
	fieldset {
		width: 20em;
	}
}

@media(max-width: 360px) {
	#inhoud input[name^="txtV"] {
		width: 18em;
	}
}

@media(max-width: 310px) {
	fieldset, #inhoud input[name^="txtV"] {
		width: 15em;
	}
}

@media(max-width: 250px) and (min-width: 200px) {
	#inhoud input[name^="txtV"] {
		width: 176px;
	}
}
