/*html, body {margin: 0;  }
body {padding: 0; margin: 0; font-family: Tahoma, Geneva, sans-serif; font-size: 13px; background: #E9EAED;  }  

h2 { font-family: 'Titillium Web', sans-serif; font-size: 18px; color: #666; line-height: 20px;  }

ul.tabs {
	background: #6699CC; width: 100%; 
	display: block; margin: 0; padding: 0; padding-top: 20px; overflow: visible; height: 148px; position: absolute;  
	width: -moz-available; border-bottom: 2px solid #003399
}
ul.tabs li {background: #003399; display: block; list-style-type: none; color: white; float: left; padding: 10px; text-align: center; margin-right: 10px; 
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px; border: 2px solid #003399;  border-bottom: 0;
}
ul.tabs li a {background-repeat: no-repeat; background-position: center 18px; color: white; text-decoration: none; font-family: 'Titillium Web', sans-serif; font-size: 18px; font-weight: bold; padding-top: 100px; display: block; width: 123px; }

ul.tabs li.home {background: none; border: 0; }
ul.tabs li.home a {background-image: url("logo.png"); width: 250px; text-indent: -2000px; }
 ul.tabs li.users a {background-image: url("profile0.png"); } 
ul.tabs li.opleiding a {background-image: url("profile0.png"); }
ul.tabs li.ervaring a {background-image: url("sell0.png"); }
ul.tabs li.infra a {background-image: url("buy0.png"); }
ul.tabs li.actief {background-color: #E9EAED; }
ul.tabs li.actief a {color: #003399; }
 ul.tabs li.users.actief a {background-image: url("profile1.png"); } 
ul.tabs li.opleiding.actief a {background-image: url("profile1.png"); }
ul.tabs li.ervaring.actief a {background-image: url("sell1.png"); }
ul.tabs li.infra.actief a {background-image: url("buy1.png"); }

ul.tabs li.extratab {margin-top: 102px; border-bottom: 0; padding: 0; }
ul.tabs li.extratab.settings a {width: 28px; background: url("settings0.png") no-repeat center center; text-indent: -3000px; }
ul.tabs li.extratab a {height: 28px; padding: 0px; display: block; float: left; margin: 9px 10px; }
ul.tabs li ul {display: block; width: 30px; height: 46px; border-left: 1px dotted white; display: block; float: left; background: url("settingsmore0.png") no-repeat center 20px; }
ul.tabs li ul li {display: none; }
ul.tabs li.extratab.login a {background-image: url("login0.png"); }

body.scrolled ul.tabs {position: fixed; top: 0; padding-top: 0; height: 45px; }
body.scrolled ul.tabs li {padding: 5px 10px; height: 37px; margin-top: 0; -webkit-border-radius: 0; moz-border-radius: 0; border-radius: 0; border-top: 0; }
body.scrolled ul.tabs li.extratab, body.scrolled ul.tabs li.mailbox {color: red; }
body.scrolled ul.tabs li.actief a {background: none; }
body.scrolled ul.tabs li a {padding-top: 5px; background: none;  }
body.scrolled ul.tabs li.home a {background: url("logo.png") no-repeat center -34px;  } 
body.scrolled div.sideleft div.box {position: fixed; top: 71px; width: 206px;  }
body.scrolled ul.tabs li.extratab a {margin: 0; }
body.scrolled ul.tabs li.extratab:hover ul li {margin-top: 42px; }
body.scrolled ul.tabs li.extratab:hover ul li+li {margin-top: 76px; }  34 
body.scrolled ul.tabs li.extratab:hover ul li+li+li {margin-top: 110px; }
body.scrolled ul.tabs li.extratab:hover ul li+li+li+li {margin-top: 144px; }
body.scrolled ul.tabs li.extratab:hover ul li+li+li+li+li {margin-top: 178px; }
body.scrolled ul.tabs li.extratab:hover ul li+li+li+li+li+li {margin-top: 212px; }
body.scrolled ul.tabs li.extratab:hover ul li+li+li+li+li+li+li {margin-top: 246px; }
body.scrolled ul.tabs li.extratab:hover ul li+li+li+li+li+li+li+li {margin-top: 280px; }


 
body.scrolled ul.tabs li.users a {background-image: url("profile0.png"); }
body.scrolled ul.tabs li.buy a {background-image: url("buy0.png"); }
body.scrolled ul.tabs li.sell a {background-image: url("sell0.png"); }
body.scrolled ul.tabs li.actief {background-color: #E9EAED; }
body.scrolled ul.tabs li.actief a {color: #003399; }
body.scrolled ul.tabs li.users.actief a {background-image: url("profile1.png"); }
body.scrolled ul.tabs li.buy.actief a {background-image: url("buy1.png"); }
body.scrolled ul.tabs li.sell.actief a {background-image: url("sell1.png"); }

div.tabs {height: 168px; position: relative; z-index: 99; }
ul.tabs li.extratab:hover ul li {display: block; position: absolute; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; padding: 0; text-align: left;margin-top: 46px; margin-left: -111px; background: white; border: 2px solid #003399; border-top: 0; }
ul.tabs li.extratab.actief:hover {background: white; }
ul.tabs li.extratab:hover ul li+li {margin-top: 80px; }
ul.tabs li.extratab:hover ul li+li+li {margin-top: 114px; }
ul.tabs li.extratab:hover ul li+li+li+li {margin-top: 148px; }
ul.tabs li.extratab:hover ul li+li+li+li+li {margin-top: 182px; }
ul.tabs li.extratab:hover ul li+li+li+li+li+li {margin-top: 216px; }
ul.tabs li.extratab:hover ul li+li+li+li+li+li+li {margin-top: 250px; }
ul.tabs li.extratab:hover ul li+li+li+li+li+li+li+li {margin-top: 284px; }
ul.tabs li.extratab:hover ul li+li+li+li+li+li+li+li+li {margin-top: 318px; }
ul.tabs li.extratab:hover ul li.last {-webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; padding-bottom: 6px; }
ul.tabs li.extratab:hover ul li a {width: 120px; height: auto; padding: 0px; background: none; text-indent: 0; display: block; float: left; margin: 3px 0 3px 20px; color: #003399; }
ul.tabs li.extratab:hover ul li:hover {background-color: #F2F7FB; } 
ul.tabs li.extratab.mailbox:hover ul li {margin-left: -146px; }
ul.tabs li.extratab.mailbox:hover ul li a {width: 154px; }
ul.tabs li.actief.extratab a {background-image: url("settings1.png")}
ul.tabs li.actief ul {background-image: url("settingsmore1.png");  border-left: 1px dotted #003399;  } 
ul.tabs li.actief.extratab.login a {background-image: url("login1.png"); }
ul.tabs li.extratab:hover ul li.admin {border-top: 1px solid #003399; }
ul.tabs li.extratab:hover ul li.settings {border-top: 1px solid #003399; }

div.owaeslisstyle {display: block; overflow: auto; margin-bottom: 15px;  }
div.owaeslisstyle div.left {width: 70px; float: left; }
div.owaeslisstyle div.left div.authorimg {width: 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top: 1px; overflow: hidden; }
div.owaeslisstyle div.right {float: left; width: 461px; border: 1px solid #d3d6db; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.sidecenterright div.owaeslisstyle div.right {width: 671px; }
div.owaeslisstyle div.right div.info {background: white; padding: 10px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; overflow: auto; }
div.owaeslisstyle.ervaring div.right div.info {background: white url("werkervaring.png") no-repeat right top;  }
div.owaeslisstyle.opleiding div.right div.info {background: white url("opleiding.png") no-repeat right top;  }
div.owaeslisstyle.infra div.right div.info {background: white url("infra.png") no-repeat right top;  }
div.owaeslisstyle div.right div.actions {background: #3366CC; color: white; padding: 6px 10px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; overflow: auto; }
div.owaeslisstyle.owaeshead div.right div.actions {background: #ffcc00; color: black;  }


div.userlistitem  {display: block; overflow: auto; margin-bottom: 15px;  }
div.userlistitem  div.left {margin-right: 10px; display: block; float: left; width: 60px;  }
div.userlistitem  div.left span.img {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; }
div.userlistitem  div.right {float: left; width: 461px; border: 1px solid #d3d6db; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.sidecenterright div.userlistitem div.right {width: 671px; }

div.userbadge {width: 60px; position: relative;  }
div.userbadge span.rating {position: relative; left: 1px; margin-top: 2px; display: inline-block; font-weight: bold; color: gray;  }
div.userbadge span.stars {position: absolute; right: 0; margin-top: 2px; display: inline-block;  }
div.userbadge span.img {display: block; width: 60px; height: 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden;  }

div.userlistitem  div.right div.info {background: white; padding: 10px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
div.userlistitem  div.right div.actions {background: #3366CC; color: white; padding: 6px 10px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; overflow: auto; }


div.groupitem  {display: block; overflow: auto; margin-bottom: 15px;  }
div.groupitem  div.left {margin-right: 10px; display: block; float: left; width: 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden;  }
div.groupitem  div.right {float: left; width: 461px; border: 1px solid #d3d6db; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.sidecenterright div.groupitem div.right {width: 671px; }
div.groupitem  div.right div.info {background: white; padding: 10px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
div.groupitem  div.right div.actions {background: #FFCC00; color: white; padding: 6px 10px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; overflow: auto; }


div.loginbar {padding: 20px; border-bottom: 3px solid #00ba39; }

div.leftuserprofile { }
div.leftuserprofile img.profile  {float: left; }
div.leftuserprofile hr {clear: both; margin: 0 -15px 10px; padding-top: 20px; border: 0px; border-bottom: 2px solid #ebebeb; }
div.leftuserprofile h2 { font-family: 'Titillium Web', sans-serif; color: #666;  font-size: 18px; line-height: 20px; padding-left: 12px; float: left;  }
div.leftuserprofile h2 a {text-decoration: none; color: #666;  }
div.leftuserprofile p {clear: both; }
div.leftuserprofile div.details {background: #f6f6f6; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; padding: 20px; margin-top: 10px; }
 
div.content {width: 600px; float: left; margin-top: 20px; }

div.footer {clear: both; padding: 20px; text-align: center; color: white;  background: #6699CC; }


div.sideleft {float: left; width: 240px; padding: 20px; margin-top: 6px; }
div.sidecenter {float: left; width: 533px; padding: 20px 0; margin-top: 6px; }
div.sideright {float: left; width: 240px; padding: 20px 0 20px 20px; margin-top: 6px; }
div.sidecenterright {float: left; width: 790px; padding: 20px 0; margin-top: 6px; }
div.sideleftcenter {float: left; width: 810px; padding: 20px 0; margin-top: 6px; }
div.box {border: 2px solid #ebebeb; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  padding: 15px; margin-bottom: 20px; padding-top: 10px; background: white; }
div.sideleft div.box {background: white; } 
div.sideright div.box {  border: 0; } 

.leftuserprofile img.profile {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }


div.rightside div.search {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin-bottom: 20px; padding: 15px; background: #86d528; }
div.rightside div.add {-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin-bottom: 20px; padding: 15px; background: #86d528; }


body#login div.login {height: 120px;  background: #6699CC; display: block; margin: 0; padding: 0; padding-top: 20px; padding-left: 280px; overflow: auto;  } 



body#settings dl dt {clear: both; float: left; width: 150px; text-align: right; }
body#settings dl dd {margin-left: 160px; } 

div.subscribe a.subscribe {padding: 3px 6px; margin: 5px 8px; border: 1px solid gray; background-color: #CCC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: black; text-decoration: none;  }
div.subscribe a.subscribe:hover, div.subscribe a.active {background-color: #333; color: white; }

body#profile img.mainprofile  {float: left; margin-right: 10px; }

div.owaes h2 a, div.userlistitem h2 a {color: #121212; text-decoration: none; }
div.owaes h2, div.userlistitem h2 { border-bottom: 1px solid #999999; font-family: 'Titillium Web', sans-serif; color: #121212; display: inline-block; font-size: 17px; font-weight: bold; margin-bottom: 5px; padding-bottom: 5px; }

span.moreA {cursor: pointer; }
span.moreA span {font-size: 12px; }
span.moreB {display: none; }

div.badgescertificates {clear: both; }
ul.badges {list-style: none; }
ul.badges li {display: inline; margin: 5px; }

div.creditsbox  {border: 2px solid #72cf2b; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; width: 150px; clear: both; margin: 10px; 
background: #ff3232;  Old browsers 
background: -moz-linear-gradient(left, #ff3232 0%, #ffca1e 25%, #33ff28 50%, #ffca1e 75%, #ff0000 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(25%,#ffca1e), color-stop(50%,#33ff28), color-stop(75%,#ffca1e), color-stop(100%,#ff0000));  Chrome,Safari4+ 
background: -webkit-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  Opera 11.10+ 
background: -ms-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  IE10+ 
background: linear-gradient(to right, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0000',GradientType=1 );  IE6-9 
}
div.creditsbox span.stars {padding: 3px; }
div.creditsbox span.credits {background: none; display: block; height: 15px; border-right: 2px solid #72cf2b; }
div.creditsbox span.creditsshow {padding-top: 8px;  }
div.creditsbox span {background: #72cf2b; display: block; text-align: center; color: white; }

div.authorbox {float: right; margin: -13px -18px 10px 10px; }
div.userbox {width: 60px; margin: 10px; border: 2px solid #EBEBEB; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; 
background: #ff3232;  Old browsers 
background: -moz-linear-gradient(left, #ff3232 0%, #ffca1e 25%, #33ff28 50%, #ffca1e 75%, #ff0000 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(25%,#ffca1e), color-stop(50%,#33ff28), color-stop(75%,#ffca1e), color-stop(100%,#ff0000));  Chrome,Safari4+ 
background: -webkit-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  Opera 11.10+ 
background: -ms-linear-gradient(left, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  IE10+ 
background: linear-gradient(to right, #ff3232 0%,#ffca1e 25%,#33ff28 50%,#ffca1e 75%,#ff0000 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0000',GradientType=1 );  IE6-9 
 }
div.userbox span.credits {background: none; height: 5px; border-right: 2px solid #666; }
div.userbox span.img {padding: 3px; }
div.userbox span {background: #EBEBEB; display: block; font-size: 11px; text-align: center; }
div.userbox a {text-decoration: none; color: black; }

ul.development {overflow: auto; margin: 10px 0; }
ul.development li {display: inline-block; margin: 3px; background: url("../img/mbgeel.png") no-repeat center center; }
ul.development li span {width: 35px; height: 35px; background: url("../img/mb.png") no-repeat; display: block;  }
ul.development li.physical span {background-image: url("../img/mbphysical.png"); }
ul.development li.mental span {background-image: url("../img/mbmental.png"); }
ul.development li.social span {background-image: url("../img/mbsocial.png"); }
ul.development li.emotional span {background-image: url("../img/mbemotional.png"); }
ul.development li.physical {background-image: url("../img/mbgeel.png"); }
ul.development li.mental {background-image: url("../img/mbrood.png"); }
ul.development li.social {background-image: url("../img/mbgroen.png"); }
ul.development li.emotional {background-image: url("../img/mbblauw.png"); }

div.owaes div.credits {margin: 10px 0; font-style: italic; background: #ffcc00; border: 1px solid #d3d6db; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: block; float: left; padding: 5px 8px;  }
div.owaes div.development {display: block; float: left; margin: 10px; }
div.owaes div.short {margin: 10px 0; }
 
body#owaesadd dl dt {clear: both; float: left; width: 150px; text-align: right; }
body#owaesadd dl dd {margin-left: 160px; }

input[type=range] {border: 1px solid gray; }

body#users div.userlist img.profile {float: left; margin: 0 10px 10px 0; }
body#users div.userlist h2 {border-bottom: 1px solid #999999; display: inline-block; font-weight: bold; margin-bottom: 5px; padding-bottom: 5px;  }
body#users div.userlist h2 a {color: #666; text-decoration: none;  }

img.development {margin: 10px 0; }

div.signup {margin: 10px; }

div.development ul li {display: inline-block; margin: 0 3px; } 
div.development ul  li img {vertical-align: middle; } 

div.slider {width: 150px; display: block; margin-bottom: 4px; margin-top: 3px; } 
div.slider.development {display: inline-block; }
div.slidervalue {width: 65px; text-align: center; margin-bottom: 9px; display: inline-block; }
div.slidervalue.creditsslide {width: 150px; text-align: left; margin-left: 20px;  }

input#creditsfield, input#timingfreeslide {width: 50px; }
div.sliderref {display: inline; margin-left: 7px; }

div.contactpopup {position: absolute; border: 1px solid gray; padding: 10px; background: white; }



div.selectbox {border: 2px solid #ebebeb; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  padding: 15px; padding-top: 10px;  }


div.popwindow {position: fixed; width: 400px; height: 300px; overflow: auto; margin-left: -200px; margin-top: -150px; left: 50%; top: 50%; background: white; border: 5px solid black; z-index: 101; padding: 10px;  }
div.popbackground {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color:rgba(0,0,0,0.5); z-index: 100;  }
div.popwindow h3 {font-size: 14px; font-weight: bold; margin-bottom: 5px; }
div.popwindow textarea {width: 374px; height: 90px;  margin-bottom: 10px; }
a.popclose {position: fixed; width: 23px; height: 23px; margin-left: 195px; margin-top: -186px; left: 50%; top: 50%; z-index: 102; padding: 10px; }

div.userid {display: inline-block; clear: both; margin-bottom: 4px; overflow: auto; }
div.userid img {float: left; margin-right: 8px; }
div.userid p {float: left;  }

div.userpopup {width: 400px; border: 1px solid #8c8c8c; background: white;  } 
div.userpopup div.top {overflow: auto; padding: 10px;  }
div.userpopup div.top div.img {float: left; margin-right: 10px; }
div.userpopup div.bottom {background: #f2f2f2; border-top: 1px solid #cccccc; padding: 8px;  }
div.userpopup div.bottom ul {display: inline; }

div.checkboxer {margin-bottom: 20px; width: 255px; float: left; margin-right: 20px; position: relative; }
div.checkboxer input[type=checkbox] {display: none; }
div.checkboxer.even {margin-right: 0; }
div.checkboxer.hover div.selectbox {border-color: orange; }
div.checkboxer.checked div.selectbox {border-color: green; }
div.checkboxer a.deleteuser {position: absolute; top: 15px; right: 15px; }

div.checkuserssubmit  {clear: both; }

div.state {float: right; font-size: 10px; color: gray; clear: right;  }

div.buckets {overflow: auto; } 
div.bucket {width: 222px; display: block; float: left; margin-right: 10px; }
div.bucket h2 {margin-bottom: 10px; padding-bottom: 5px; }
div.bucket#geweigerd {margin-right: 0; }
div.bucket#nieuw  {border-color: #666;  }
div.bucket#nieuw h2 {border-bottom: 2px solid #666;  }
div.bucket#geselecteerd  {border-color: #0C3;  }
div.bucket#geselecteerd h2 {border-bottom: 2px solid #0C3;  }
div.bucket#geweigerd  {border-color: #F00;  }
div.bucket#geweigerd h2 {border-bottom: 2px solid #F00;  }

div.bucket a.goedkeuren, div.bucket a.afkeuren {width: 25px; height: 25px; overflow: hidden; text-indent: -100px; background: url("../img/goedkeuren.png") no-repeat center center;  } 
div.bucket a.goedkeuren {float: left; }
div.bucket a.afkeuren {float: right; background-image: url("../img/afkeuren.png"); }  
div.bucket#geselecteerd a.goedkeuren, div.bucket#geweigerd a.afkeuren { display: none;  } 

div.sidecenter h1, div.sidecenterright h1 {font-size: 130%; margin-bottom: 10px; background: #FFCC33; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: black; font-weight: bold; }
.sidecenterright h1 {width: 722px; }
#conversation h1 {margin-top: 15px; }
div.sidecenter h1 a, div.sidecenterright h1 a {color: black; text-decoration: none; }


.knopgroen, .knopgeel, .knoprood { -moz-box-shadow:inset 0px 1px 0px -1px #c1ed9c; -webkit-box-shadow:inset 0px 1px 0px -1px #c1ed9c; box-shadow:inset 0px 1px 0px -1px #c1ed9c; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #befa25), color-stop(1, #a3d139) ); background:-moz-linear-gradient( center top, #befa25 5%, #a3d139 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#befa25', endColorstr='#a3d139'); background-color:#befa25; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; text-indent:0; border:1px solid #83c41a; display:inline-block; color:#000000; font-family:Arial; font-size:15px; font-weight:bold; font-style:normal; padding: 5px 15px;  line-height:21px;  text-decoration:none; text-align:center; text-shadow:1px 1px 0px #cdcdcd; cursor: pointer;  }
 
.knopgeel { -moz-box-shadow:inset 0px 1px 0px -1px #fce2c1; -webkit-box-shadow:inset 0px 1px 0px -1px #fce2c1; box-shadow:inset 0px 1px 0px -1px #fce2c1; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #f5f573) ); background:-moz-linear-gradient( center top, #ffff00 5%, #f5f573 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#f5f573'); background-color:#ffff00; border:1px solid #eeb44f;}
.knoprood { -moz-box-shadow:inset 0px 1px 0px -1px #f5978e; -webkit-box-shadow:inset 0px 1px 0px -1px #f5978e; box-shadow:inset 0px 1px 0px -1px #f5978e; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) ); background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f'); background-color:#f24537; border:1px solid #d02718; }

.SQL {display: block; font-size: 9px; padding: 2px 8px; background-color: #FC9; }
#ADMIN {position: fixed; top: 10px; right: 10px; width: 100px; padding: 5px; border: 1px solid gray; background: #CFC; }
#ADMIN a {text-decoration: none; }
.ADMIN {display: none; }
.TEMPclass {background: red; }

div.header {display: none;  margin: 30px; position: absolute; z-index: 10; }

pre.vardump {display: inline; background: #efff79; color: red; }
pre.vardump.popp  {padding: 10px; background: #efff79; color: #111; position: absolute; width: 500px; overflow: auto; white-space: pre-wrap; }

table.database {border-collapse: collapse; }
table.database td, table.database th {border: 1px solid black; padding: 3px 5px; }
table.database th {background: #333; color: white; }
 
.message {clear: both;    }
.message .user {clear: both; }
.message .user .img {margin-right: 10px; margin-top: 7px; display: block; float: left; width: 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden;  }
.message .user .name {float: left; width: 440px; padding: 10px; background: white;  }
.message .user .name a {font-size: 16px; font-weight: bold; text-decoration: none; color: black;  }
.message .date {  color: #808080; float: right; font-size: 11px; padding: 0 10px 10px; }
.message .market, .message .msg {margin-left: 70px; background: white; padding: 1px 10px; }
.message .market {background: white url("../img/attachment.png") no-repeat 15px center; padding-left: 45px;  }
.message .market a {background: none repeat scroll 0 0 #EFEFEF; color: #000000; display: inline-block; padding: 2px 5px; text-decoration: none; }
.message .market a:hover {text-decoration: underline; }
.message .spacer {background: white; height: 10px; margin-left: 70px; }
.message form { background: white; margin-left: 70px; padding: 20px 10px; }
.message form textarea {width: 440px; height: 70px; }

#owaesadd h2 {}
#owaesadd>dl {}


div.owaesadd div.left {width: 70px; float: left; margin-top: 31px; }
div.owaesadd div.left div.authorimg {width: 60px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top: 1px; overflow: hidden; }
div.owaesadd form {display: inline-block; width: 671px; }

form#frmowaesadd ol.addtabs {overflow: visible; height: 29px; }
form#frmowaesadd ol.addtabs li {list-style: decimal inside; display: list-item; float: left; background: #CCCCCC; margin-right: 2px; padding: 5px 8px; border: 2px solid #FFCC33; border-bottom: 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
form#frmowaesadd ol.addtabs li a {color: black; text-decoration: none; }
form#frmowaesadd ol.addtabs li.actief { background: white; height: 19px; }
form#frmowaesadd ol.addtabs li.disabled {color: transparent; text-shadow: 0 0 1px rgba(0, 0, 0, 0.74);  }
form#frmowaesadd ol.addtabs li.disabled a {cursor: default; color: gray;  }
 

form#frmowaesadd>dl {border: 2px solid #FFCC33; padding: 15px 10px; background: white; -webkit-border-radius: 0 5px 5px 5px; -moz-border-radius: 0 5px 5px 5px; border-radius: 0 5px 5px 5px; }

form#frmowaesadd dt, form#frmowaesadd dd {margin-top: 10px; }
form#frmowaesadd input, form#frmowaesadd textarea, form#frmowaesadd select {border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 467px; padding: 3px 10px;  }	
form#frmowaesadd input.auto {border: 0; width: auto;  }	
form#frmowaesadd input.border {border: 1px solid gray;  }	

.fout {background: red; border: 2px solid red; }

dd.buttons a {border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 467px; padding: 3px 10px; color: black; text-decoration: none; background: #f0f0f0; }
dd.buttons a.disabled {color: gray; color: transparent; text-shadow: 0 0 1px rgba(0, 0, 0, 0.74); }

div.add {display: inline-block;  }

ul.waardenfilter {display: inline-block; width: 110px; margin-left: 20px;  }
ul.waardenfilter li {display: inline-block; padding: 6px; margin: 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
ul.waardenfilter li:hover {background: #CCC;  }
ul.waardenfilter li.show {background: #0F9;  }
 
.owaes .location {float: right; clear: right; margin-top: 10px; }
.owaes div.locationbox {width: 250px; height: 130px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-left: 10px; position: relative; overflow: hidden; border: 1px solid #D3D6DB }
.owaes div.locationbox span {position: absolute; width: 234px; background-color: rgba(255,255,255,0.7); display: block; padding: 3px 8px; border-bottom: 1px solid #D3D6DB; font-weight: bold; color: #444444; }
 .owaes .location img {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-left: 10px; } 

div.badgeinfo {background: white; position: absolute; border: 2px solid #efefef; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 5px; width: 200px; height: 90px;  margin-top: 5px; }
 
 
div.homepage {margin-bottom: 20px; }
div#map-info .info {background: white; overflow: auto; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; padding: 15px; }
div#map-info .info .left {width: 75px; float: left; }
div#map-info .info .right {float: left; width: 680px; }
div#map-info .actions {background: #3366CC; color: white; padding: 6px 10px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; overflow: auto; clear: both; } 

form.rating dl dt {display: inline; }
form.rating dl dd {display: inline-block; background: url("../img/starb.png") no-repeat center center; width: 15px; height: 15px; }
form.rating dl dd.actief {background-image: url("../img/star.png"); }
form.rating dl dd a {display: block;  width: 15px; height: 15px; text-indent: -2000px; }

div.openid ul li {display: inline; margin-left: 10px; }
 
div.owaeslisstyle.unlisted div.right div.actions  {background: #fc5c5c; }

div.clock {position: fixed; top: 10px; right: 10px; z-index: 9999; }


dd#tags {border: 1px solid gray; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 467px; padding: 3px 0; }
dd#tags span.tag {border: 1px solid gray; display: inline-block; margin-left: 10px; padding: 2px 5px; margin-bottom: 2px; }
dd#tags span.tag a {font-size: 10px; color: white; padding: 0 5px 2px 5px; vertical-align: top; font-weight: bold; background: #efefef; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-decoration: none; margin-left: 4px;  }
dd#tags span.tag a:hover {background: #333; }
form#frmowaesadd dd#tags input {border: 0; display: inline; width: 100px; padding-left: 10px; }
dd#tags ul.tags {position: absolute; z-index: 999; background: white; border: 1px solid #efefef; width: 455px; max-height: 100px; overflow: auto; }
dd#tags ul.tags li {padding: 3px 10px; cursor: pointer; }
dd#tags ul.tags li:hover {background: #efefef; }

div.tags {display: block; clear: both; }
div.tags span {color: gray; font-size: 10px; background: #efefef; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-right: 5px; padding: 3px 5px;  }


ul.popupmessages {position: fixed; bottom: 10px; left: 100px; z-index: 9999; }
ul.popupmessages li {background: white; padding: 10px; border: 2px solid red; width: 400px; margin: 10px; }
ul.popupmessages li a.close {float: right; margin-top: -25px; color: red; text-decoration: none; }

form.search {left: 768px; position: absolute; top: 21px; z-index: 200; }
form.search input.searchfield {background: white; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 0px; padding: 2px 5px; }
form.search input.searchbutton {  }*/
