<div class="col-sm-6 userlistitem" id="userfromlist[id]">  
    <div class="col-sm-2">
        <a href="[link]"><img src="[profileimg:90x90]" width="90" class="mainprofile img-responsive" /></a>
    </div>
    <div class="col-sm-10">
        <h2><a href="[link]">[firstname] [lastname]</a></h2>
        <p class="level-stars"><span class="level">Level [level]</span><span class="stars">[stars]</span></p>
        <p class="location">[location]</p>
    </div>
    <div class="col-sm-12"><a href="#adduser" rel="[id]" class="adduser">gebruiker toevoegen</a></div> 
</div>