 
<h1>Gebruiksvoorwaarden voor deelnemers aan het OWAES platform</h1>
<h2>Geldig gedurende de pilootprojectfase  1/1/2015 tot 30/9/2015</h2>

<h3>1 Verantwoordelijkheid platform</h3>
<h4> 1.1 Aard van het platform</h4>
<p>OWAES is geen opleidingsinstituut, geen
arbeidsbemiddelingsbureau en geen uitleendienst. OWAES is enkel een
communicatiekanaal tussen partijen die onderling overeenkomsten
afsluiten.</p>
<p>OWAES is een digitaal platform dat bedoeld is om
connecties tussen deelnemers mogelijk te maken zodat deze op een
gemakkelijker manier heterogene netwerken kunnen opbouwen. De rol van
het platform beperkt zich tot het stimuleren en faciliteren van deze
opbouw. 
</p>
<p>De bedoeling van om het even welke beoordeling of
waardering is dan ook vooral om een stimulans te zijn om te  werken
aan het verbeteren hiervan, niet het fundamenteel waarderen van een
deelnemer. Deelnemers erkennen dit door het ondertekenen van deze
gebruiksvoorwaarden.</p>
<p>Als bepaalde handelingen op het platform volledig
tegen deze fundamentele aard blijken in te gaan (het genereren van
positieve stimulansen met de bedoeling het opbouwen van netwerken
tussen de deelnemers), is dit voldoende reden om de deelname aan het
platform op te schorten en dit contract te be&euml;indigen.</p>
<h4> 1.2 Arbeidsongevallen</h4>
<p>Indien deelnemers bij het uitvoeren van een
overeenkomst (zij het een opleiding, zij het een
werkervaringopdracht, zij het gebruikmaking van een gedeelde service
of object) een ongeval meemaken dan worden zij niet door enige
verzekering van het platform gedekt.</p>
<p>Indien het gaat over een werkervaringsopdracht dan
worden deelnemers wel aangeraden om met hun gebruikelijke
verzekeringsmaatschappij te onderhandelen om deze opdrachten te laten
opnemen in hun standaard arbeidsongevallenverzekering. 
</p>
<p>In elk geval dient de uitvoerder van een opdracht
op de hoogte te worden gesteld van het feit of hij al dan niet door
een arbeidsongevallenverzekering wordt gedekt bij het uitvoeren van
zijn opdracht. Indien de aanbieder niets vermeldt dan moet de
uitvoerder er van uitgaan dat de opdracht niet is gedekt door een
verzekering. 
</p>
<p>Deelnemers die ervaringsopdrachten aanbieden
worden sterk gestimuleerd om hun verantwoordelijkheid voor het
verzekeren van een werkervaringsopdrachtuitvoering op te nemen, maar
de uiteindelijke verantwoordelijkheid van zowel aanbieder als afnemer
bij het uitvoeren van een overeenkomst ligt bij de betrokken
partijen. 
</p>
<p>Wettelijke verplichtingen kunnen van toepassing
zijn en deze moeten uiteraard worden nageleefd. De
verantwoordelijkheid voor het opvolgen van de wettelijke
verplichtingen ligt bij de deelnemers aan het platform, niet bij het
platform zelf.</p>
<h4> 1.3 Overeenkomsten tussen deelnemers</h4>
<p>Het platform is niet verantwoordelijk voor
misverstanden of disputen tussen de deelnemers. Wanneer deelnemers
via het platform tot een overeenkomst komen wordt verondersteld dat
deze in goed vertrouwen wordt gemaakt en dat de aanbieding waartoe is
overeengekomen ook wordt uitgevoerd.</p>
<p>Wordt de afgesloten overeenkomst (door
inschrijving en goedkeuring) niet uitgevoerd of zwaar ondermaats
uitgevoerd dan wordt verondersteld dat dit tussen de deelnemers in de
minne wordt geregeld. Eventuele conflicten of disputen aangaande deze
overeenkomsten moeten tussen de deelnemers onderling worden geregeld,
indien noodzakelijk via een gerechtelijk procedure waarbij OWAES niet
als betrokken partij kan optreden.</p>
<p>OWAES houdt zich het recht voor om deelnemers die
betrokken zijn bij conflicten of disputen van het platform te
verwijderen. In zo'n geval wordt deze overeenkomst ontbonden en
verliezen betrokken partijen al mogelijke rechten die zij via deze
overeenkomst zouden kunnen hebben bekomen.  
</p>
<h4> 1.4 Schade</h4>
<p>Het platform kan niet verantwoordelijk worden
gesteld voor enige schade die is opgelopen door het deelnemen aan het
platform. Zowel fysieke schade bij het uitvoeren van een overeenkomst
als eventuele morele schade door het deelnemen aan het platform is op
rekening van de deelnemer zelf. Door het ondertekenen van dit
contract ziet de deelnemer af van alle aanspraken op
schadevergoeding.</p>
<p>Bij elke overeenkomst ontstaan op het platform is
het noodzakelijk dat de deelnemers duidelijk maken wie voor welke
schade verantwoordelijk is. Indien hierover geen expliciete
overeenkomst wordt gemaakt ligt de verantwoordelijkheid bij diegene
die de schade toebrengt, behalve in wettelijke uitzonderingen.
Eventuele schadegevallen moeten onderling worden geregeld.</p>
<h4> 1.5 Statuut aanbiedende bedrijven, organisaties
en individuen</h4>
<p>In hun activiteiten op het platform functioneren
de deelnemers niet als werkgever of werknemer, maar als gelijken in
de zoektocht om de arbeidsmarkt beter te laten werken. OWAES mag dus
niet functioneren als een alternatieve arbeidsmarkt en kan dus niet
in concurrentie treden met aanbiedingen die ook in de klassieke
arbeidsmarkt zouden kunnen worden teruggevonden. Bij het vaststellen
dat OWAES in die zin wordt ingezet kan een deelnemer worden
uitgesloten.</p>
<h4> 1.6 Statuut deelnemende uitkeringstrekkers</h4>
<p>Indien deelnemers aan het platform een wettelijke
uitkering van welk aard ook ontvangen, moeten zij hun
uitkeringsverstrekker op de hoogte stellen van de deelname aan het
platform OWAES. 
</p>
<p>Tijdens de pilootprojectfase zouden alle mogelijke
uitkeringsverstrekkers binnen de regio West-Vlaanderen op de hoogte
moeten zijn van het bestaan en de aard van het platform. In principe
wordt deelname aan het platform gedoogd zolang er eigenlijk gebruik
gemaakt wordt van het platform zoals gestipuleerd in deze
gebruiksvoorwaarden. Het is mogelijk dat de uitkerings-verstrekker
bijkomende eisen stelt en deze moeten worden voldaan om rechtmatig
aan het platform te kunnen deelnemen.</p>
<p>Indien bepaalde uitkeringsverstrekkers niet op de
hoogte zouden zijn van het bestaan en/of de aard van OWAES, dan mag
de uitkeringsgerechtigde de contactgegevens van deze verstrekker aan
de beheerders van OWAES doorspelen zodat ook met deze organisaties
een contract van gedoging kan worden afgesloten.</p>
<p>Indien aan deze voorwaarden is voldaan zal OWAES
in de mate van het mogelijke de deelnemer aan het platform verdedigen
tegenover de betrokken controlerende en uitkeringsverstrekkende
instantie indien de deelnemer een risico op schorsing of verlies van
inkomsten zou hebben. Garanties dienaangaande kan het platform
natuurlijk niet bieden.</p>
<h3>2 Eigenlijk gebruik van het platform</h3>
<h4> 2.1 Geen arbeidsbemiddeling of arbeidsvervanging</h4>
<p>Bedrijven, organisaties en individuen die
deelnemen aan het platform hetzij als aanbieder van werkervaring,
opleiding of gedeelde diensten of goederen, hetzij als afnemer
hiervan, garanderen dat zij van het platform gebruik maken om de
doelstelling ervan te helpen realiseren, meerbepaald het helpen
opbouwen van heterogene netwerken met de bedoeling de betrokkenen
meer mogelijkheden te geven op de arbeidsmarkt ofwel als vrager ofwel
als aanbieder.</p>
<h4> 2.2 Niet concurrentie</h4>
<p>De uitvoering van de opdrachten of het volgen van
de opleidingen mag niet concurreren met vergelijkbare commerci&euml;le
aanbiedingen, behalve indien de commerci&euml;le aanbiedingen door de
organisator zelf worden aangeboden of als er een afzonderlijke
contract met de concurrerende aanbieders is of als het dient als
opstap naar een commerci&euml;le aanbieding.</p>
<h4> 2.3 Meerwaarde voor de betrokkenen</h4>
<p>De overeenkomsten afgesloten via het platform
dienen niet ter vervanging van werk dat ook met een normaal
arbeidscontract zou kunnen worden uitgevoerd behalve in de context
van het opdoen van nog niet eerder verworven werkervaring of als
opleiding.</p>
<p>Cruciaal bij elk aanbieding op het platform is dat
voor derden duidelijk moet zijn dat elke aanbieding een meerwaarde
moet hebben voor beide partijen van de overeenkomst. Deze meerwaarde
kan niet enkel gelegen zijn in de creditstransactie die aan de
overeenkomst gekoppeld is. Indien deze meerwaarde niet duidelijk en
geloofwaardig kan worden geformuleerd, dan is er sprake van
oneigenlijk gebruik van het platform en kan tot uitsluiting worden
overgegaan. 
</p>
<h4> 2.4 Beoordeling door derden</h4>
<p>De derden die over het eigenlijke gebruik van het
platform kunnen oordelen zijn in eerste instantie de
platformbeheerders en de partners die het project ontwikkeld hebben,
zeker gedurende de pilootprojectfase. 
</p>
<p>Indien binnen deze groep onenigheid of
onduidelijkheid is, zijn ook alle maatschappelijk relevante sociale
partners  mogelijke medebeoordelaars. 
</p>
<p>Offici&euml;le organen zoals sociale inspectie, riziv
en rva kunnen een adviserende rol spelen als getwijfeld wordt aan het
eigenlijke gebruik van het platform. Deze instanties zijn op de
hoogte gesteld van het bestaan van dit platform en erkennen de
specifiek aard ervan evenals de potenti&euml;le meerwaarde voor de
arbeidsmarkt. 
</p>
<p>Tijdens de pilootprojectfase (1/1/2015 tot
30/9/2015) en binnen de regio waarin het project wordt uitgerold
(West-Vlaanderen) zal worden nagestreefd dat deze instanties een
welwillende begeleiding van de aanbiedingen en afnames strokend met
de afspraken opgesteld in deze gebruiksvoorwaarden en in
overeenstemming met de geest van de wet in acht nemen. 
</p>
<p>Sancties, schorsingen en boetes zullen nooit het
rechtstreekse gevolg zijn van deelname aan het platform. Uiteraard
kunnen individuele handelingen niet strokend met deze overeenkomst of
met de geest van de arbeidswetgeving aanleiding geven tot nader
onderzoek. In zo'n geval zal OWAES de benadeelde partijen zo goed
mogelijk verdedigen tegen aanspraken van derden indien de onderzochte
handelingen voldoen aan deze overeenkomst en de intentie van het
platform. 
</p>
<p>Indien een deelnemer in die context een
waarschuwing krijgt of een vraag tot uitleg van een controlerende
instantie, is het zijn plicht dit te melden aan de
platformbeheerders, zodat kan worden beoordeeld of de deelnemer
verder gebruik kan maken van het platform. Gebeurt dit niet, dan
vervalt alle verantwoordelijkheid van de platformbeheerders om de
deelnemer in de mate van het mogelijke te verdedigen tegen aanspraken
van derden en kan zijn deelname met onmiddellijke ingang worden
geschorst als de beheerders hiervan op de hoogte zouden worden
gesteld door de bevoegde instanties.</p>
<h4> 2.5 Verplichting intake gesprek en volgen van
een opleiding</h4>
<p>Tijdens de pilootprojectfase legt elke deelnemer
een intake gesprek af bij de organisatoren van het platform. Dit
intake gesprek dient om te bepalen of de potenti&euml;le deelnemer de
aard van het platform begrijpt en alle hier geformuleerde
gebruiksvoorwaarden ook wenst na te leven. Het peilt ook naar de
motivatie van de deelnemer om effectief met het platform aan de slag
te gaan.</p>
<p>Na het intake gesprek volgt de deelnemer nog een
korte opleiding waarbij het platform wordt gedemonstreerd en
voorbeelden van correct en fout gebruik van het platform worden
meegegeven. De eerste aanbiedingen of ingaves worden ook op dat
moment uitgevoerd.</p>
<h4> 2.6 Bijkomende opleidingen of extra begeleiding 
</h4>
<p>Indien de deelnemer via een dienstverlener wordt
toegeleid of indien de platformbeheerders vaststellen dat het
platform op een niet helemaal correcte manier wordt gebruikt, kan er
eventueel aan de deelnemer gevraagd worden om zich extra te laten
begeleiden of een extra opleiding te volgen. Wil de deelnemer hieraan
niet voldoen, dan kan eventueel zijn deelname aan het platform worden
opgeschort na een persoonlijk gesprek met de deelnemer in kwestie.</p>
<h4> 2.7 Periodieke evaluatie</h4>
<p>Het project wordt periodiek ge&euml;valueerd door de
deelnemers en de beheerders. Een driemaandelijkse evaluatiesessie is
een voorwaarde om het platform blijvend te kunnen gebruiken gedurende
de pilootprojectfase. Het niet deelnemen aan de evaluatiesessie kan
volstaan om de deelnemer van het platform te verwijderen.</p>
<h3>3 Werking
van het platform</h3>
<h4> 3.1 Best effort</h4>
<p>Het platform is gedurende de pilootprojectfase
(waarop deze gebruiksvoorwaarden betrekking hebben) nog in volle
ontwikkeling. Er kunnen zich dus fouten voordoen in de software en
bijgevolg in de werking van het platform. OWAES garandeert enkel dat
al het mogelijke zal worden gedaan om fouten op te lossen indien deze
worden vastgesteld. 
</p>
<p>Gebruikers hebben de verantwoordelijkheid om
fouten te melden aan de beheerders van het platform op het moment dat
ze deze vaststellen. Enkel indien dat onmiddellijk na de vaststelling
gebeurt en indien het probleem kan worden gereproduceerd kan de
gebruiker er op rekenen dat de platformbeheerders al het mogelijk
zullen doen om de fout recht te zetten.</p>
<p>In geen geval kan een deelnemer schadevergoeding
eisen in de context van een vastgestelde fout. OWAES kan enkel
garanderen dat zo snel mogelijk en met gepaste inzet van middelen zal
worden geprobeerd elke fout te remedi&euml;ren, en dan nog enkel als de
fout op een correcte manier werd gemeld en kon worden bevestigd. 
</p>
<h4> 3.2 Goede trouw</h4>
<p>Het platform is gebaseerd op vertrouwen tussen de
deelnemende partijen. Dit geldt zowel voor de deelnemers als voor de
beheerders van het platform. 
</p>
<p>Als blijkt dat dit vertrouwen wordt geschonden
door misbruik van het platform voor doeleinden die niet stroken met
het oorspronkelijke opzet van het platform zoals gestipuleerd in punt
2 van deze gebruiksvoorwaarden, dan kan de deelname aan het platform,
na overleg tussen de betrokken partijen, zonder verdere procedure
worden verbroken.</p>
<h4> 3.3 Betekenis indicatoren</h4>
<p>Elke individuele deelnemer heeft een set
indicatoren die hij op een bepaald peil moet proberen te houden. Deze
indicatoren moeten er voor zorgen dat deelnemers gestimuleerd worden
om een diverse set aan opdrachten uit te voeren of opleidingen te
volgen. Bedoeling is dat deze indicatoren stimulerend werken. Ze zijn
gebaseerd op wetenschappelijk onderzoek en geven een goed beeld van
het totale welbevinden van een persoon.</p>
<p>De indicatoren verminderen met de verstrijkende
tijd. Ze starten op 60% en zakken iedere dag met 1%. Dit betekent dat
bij niet activiteit de indicatoren op 0% komen na 60 dagen. Als
indicatoren onder een bepaald peil zakken (in de huidige versie is
dit 50%, 30%, 10% en 0%) dan worden zowel de deelnemer als de
platformbeheerders in toenemende mate aangezet om actie te ondernemen
om iets aan deze situatie te veranderen. Uiteindelijk kan dit tot
tijdelijk of permanente opschorting van deelname aan het platform
leiden.</p>
<h4> 3.4 Betekenis waardering</h4>
<p>Bij elke transactie worden de partijen in de
transactie door elkaar beoordeeld. De bedoeling van deze waardering
is een indicatie te helpen geven van de gemiddelde kwaliteit van de
via het platform uitgevoerde handelingen door de betrokkene. De
waardering verschijnt pas na het verwerven van 15 sterren. De
effectieve waardering is het aantal behaalde sterren gedeeld door het
aantal transacties waarin deze sterren werden verworven.</p>
<p>Ook deze waardering heeft de bedoeling vooral de
deelnemers te stimuleren. Als de kwaliteit echter (na de
inloopperiode) daalt onder een bepaald niveau kan dit ook aanleiding
geven om een deelnemer te waarschuwen en in ernstige gevallen zelfs
tijdelijk of permanent van het platform te verwijderen.</p>
<h3>4 Beslechten van disputen</h3>
<h4> 4.1 Tijdelijke
opschorting</h4>
<p>Een gebruiker kan tijdelijk worden geschorst als
er zich twijfel over zijn gedrag op het platform voordoet. Dit
betekent niet dat hij niet op een later moment, wanneer eventuele
onduidelijkheden zijn weggewerkt, zijn activiteiten op het platform
kan hervatten. Na een tijdelijke schorsing blijven alle verzamelde
meerwaardes (credits, indicatorwaardes, badges, certificaten,
experiencepoints, &hellip;) bevroren tot de deelnemer opnieuw actief
wordt.</p>
<p>Tijdelijke opschorting kan op alle momenten
gebeuren voor om het even welke reden. Een deelnemer kan hier geen
verzet tegen aantekenen, uiteraard wel om uitleg vragen.</p>
<p>Er zijn in het platform ook ingebouwde indicatoren
die een tijdelijke opschorting automatisch in voege doen treden. De
volgende criteria mogen in de huidige versie van het platform niet
overschreden worden of een automatische blokkering treedt op:</p>
<ul>
	
<li>
	minder dan 100 credits ter
	beschikking hebben</li>
	
<li>
	een indicator op 0 hebben
	(sociaal, fysiek, welzijn, kennis)</li>
	
<li>
	de som van de indicatoren op
	minder dan 10 hebben</li>
	
<li>
	minder dan 1 kwaliteitsster
	hebben buiten de inloopperiode 
	</li>
	
<li>
	minder dan 5% diversiteit
	bereiken op een termijn van 60 dagen</li>
	
<li>
	meer dan 120 schenkingen doen
	op een termijn van 60 dagen</li>
</ul>
<p>Deze criteria kunnen ten alle tijde wijzigen.
Gebruikers worden gewaarschuwd als er zich wijzigingen in het schema
voordoen. Voor elk van deze criteria is er ook een procedure voorzien
van stapsgewijze waarschuwing van het individu dat deze limieten
nadert. Een gedetailleerde uitleg van deze automatische procedures is
op het platform zelf terug te vinden.</p>
<h4> 4.2 Verwijdering, blokkering</h4>
<p>Herhaalde tijdelijke opschortingen of zeer
ernstige overtredingen van deze gebruiksvoorwaarden kunnen leiden tot
permanente verwijdering van een gebruiker en zijn blokkering op het
platform. Enkel na een zeer grondige motivatie kan daarna nog tot
vernieuwde deelname worden overgegaan.</p>
<h4> 4.3 Rechtbanken</h4>
<p>Het Belgische en Europese recht is steeds van
toepassing. Aangezien de letter van de wet de intentie van dit
platform omwille van zijn innovativiteit nooit voor 100% kan dekken
moet in de projectfase zoveel mogelijk vermeden worden om justiti&euml;le
procedures te volgen. 
</p>
<p>Uiteraard is het wel de bedoeling het project
zoveel mogelijk te helpen afstemmen op de geest van de wet gedurende
de pilootprojectfase. Dit kan gebeuren met behulp van de sociale
partners, hun vertegenwoordigende organisaties, de wettelijke
controlerende en stimulerende instituten (sociale inspectie, rva,
riziv, vdab, ...) en de politieke vertegenwoordigers die deze
aansturen.</p>
<p>Het gebruik van dit platform kadert in de algemene
modernisering van de maatschappij en de opkomst van digitaal
aangestuurde peer-to-peer netwerken. Op middellange termijn kan
wellicht nagestreefd worden om specifieke wetgeving dienaangaande uit
te werken om mogelijke dubbelzinnigheden die momenteel nog aanwezig
zouden kunnen zijn te helpen wegwerken. In afwachting blijven
uiteraard de Belgische en Europese rechtbanken de laatste beslissers.</p>
<p>Het goedkeuren van deze
gebruiksvoorwaarden is een bindende voorwaarde om met het platform
aan de slag te kunnen gaan. Indien een persoon optreedt in naam van
een organisatie of bedrijf, dan moet deze de bevoegdheid hebben om
namens deze organisatie contracten te ondertekenen die het bedrijf in
kwestie binden.</p> 