<div class="row">
    <div class="col-md-12">
        <div class="well well-profile">
            <div class="row">
                <div class="col-sm-2 profielafbeelding">
                    <img src="[profileimg:155x155]" width="155" class="mainprofile img-responsive" />
                </div>
                <div class="[me]col-sm-10[/me] [notme]col-sm-8[/notme] basisgegevens">
                    <h2 class="naam">
                    	[naam] 
                    	[if:rights:editpage]<a href="[editlink]"><span class="icon icon-settings"></span></a>[/if:rights:editpage]
                    </h2>
                    <p>[description]</p> 
                    <!--
                    <ul class="socialmedia">
                        [if:data:facebook]<li><a href="[data:facebook]" target="_blank"><span class="icon-facebook"></span></a></li>[/if:data:facebook] 
                        [if:data:twitter]<li><a href="[data:twitter]" target="_blank"><span class="icon-twitter"></span></a></li>[/if:data:twitter] 
                        [if:data:linkedin]<li><a href="[data:linkedin]" target="_blank"><span class="icon-linkedin"></span></a></li>[/if:data:linkedin] 
                        [if:data:plus]<li><a href="[data:plus]" target="_blank"><span class="icon-googleplus"></span></a></li>[/if:data:plus] 
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"> 
    
		[if:members]
            <div class="well well-members">
                <h3>Leden <span class="badge">[members:count]</span></h3>
    
                <div class="list-group">
                    [members]
                        <a href="[url]" class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left" src="[img:src:70x70]"> 
                                <div class="media-body">
                                    <h4 class="media-heading">[name]</h4>
                                    level [level]
                                </div>
                            </div>
                        </a>
                    [/members]  
                </div>
            </div>
		[/if:members]
    	  
        <div class="well well-volgers">
            <h3>Volgers <span class="badge">xx</span></h3>

            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/janne.jpg">
                        <div class="media-body">
                            <h4 class="media-heading">Moniek Hoenders</h4>level 2
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/fa33f5eb68e16912f13c885923c987d6.jpg">
                        <div class="media-body">
                            <h4 class="media-heading">Donald Hinderiks</h4>level 3
                        </div>
                    </div>
                </a>
            </div>

            <p class="meer"><a href="#">meer...</a></p>
        </div>
    </div>
    <div class="col-md-8"> 
            [admin]
                <div class="well well-admin"> 
                	<h3>Groepsbeheerder</h3>
                    <div class="list-group"> 
                        <a href="[url]" class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left" src="[img:src:70x70]"> 
                                <div class="media-body">
                                    <h4 class="media-heading">[name]</h4>
                                    level [level]
                                </div>
                            </div>
                        </a> 
                    </div>
                </div>
            [/admin]
            
            [if:market]
                <div class="well well-recenteactiviteit">
                    <h3>Recente Activiteit <span class="badge">[market:count]</span></h3>
    
                    <div class="list-group">
                        [market:5]
                            <a href="[link]" class="list-group-item">
                                <div class="media">
                                    <img class="media-object pull-left" src="[author:img:64x64]">
                                    <div class="media-body">
                                        <h4 class="media-heading">[title]</h4>
        
                                        <div class="development odd">[development]</div>
        
                                        <span class="icon icon-lg">[soortIcon]</span>
                                    </div>
                                </div>
                            </a>
                        [/market:5] 
                    </div>
    
                    <p class="meer"><a href="#">meer...</a></p>
    
                </div>
			[/if:market]
        </div>
    </div>
     