<div class="col-sm-12 grouplistitem" id="groupfromlist[id]"> 
    <div class="well">
        <div class="row">
            <div class="col-sm-2">
                <a href="[link]"><img src="[profileimg:150x150]" width="100%" class="mainprofile img-responsive" /></a>
            </div>
            <div class="col-sm-10">
                <h2><a href="[link]">[name]</a></h2> 
                <p class="website"><a href="[website]" target="_blank">[website]</a></p> 
                <p class="description">[description]</p> 
                <p class="description">[members:count] leden<br />Beheerder: [admin]<a href="[user:url]">[user:name]</a>[/admin]</p> 
            </div> 
        </div>
    </div>
</div>