<div class="row">
    <div class="col-md-12">
        <div class="well well-profile">
            <div class="row">
                <div class="col-sm-2 profielafbeelding">
                    <img src="[profileimg:155x155]" width="155" class="mainprofile img-responsive" />
                </div>
                <div class="[if:me]col-sm-10[/if:me] [if:notme]col-sm-8[/if:notme] basisgegevens">
                    <h2 class="naam">
                    	[naam] 
                    	[if:rights:editpage]<a href="[editlink]"><span class="icon icon-settings"></span></a>[/if:rights:editpage]
                    </h2>
                    <p class="credits">[credits]</p>
                    [if:website]<p>Website: [showurls][website][/showurls]</p>[/if:website]
                    <p>[description]</p> 
                    [if:wijzoeken]<h3>Wij zoeken:</h3><p>[wijzoeken]</p>[/if:wijzoeken]
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"> 
    
		[if:members]
            <div class="well well-members">
                <h3>Leden</h3>
    
                <div class="list-group">
                    [members:3][include:group.members.html][/members:3]  
                    <a name="moremembers"></a>
                </div>
                [if:members>3]
                    <p class="meer"><a href="#moremembers" class="loadmore" start="4" group="[id]" list="members" count="5" template="group.members.html">meer...</a></p>
                [/if:members>3]
            </div>
		[/if:members]
    	  
        [if:payments]
            <div class="well well-transacties">
                <h3>Transactie's <span class="badge">[payments:count]</span></h3>
    
                <div class="list-group">
                    [for:payments:5][include:userprofile.payments.html][/for:payments:5] 
                    <a name="morepayments"></a>
                </div> 
                [if:payments>5]<p class="meer"><a href="#morepayments" class="loadmore" user="[id]" start="6" list="payments" count="5" template="userprofile.payments.html">meer...</a></p>[/if:payments>5] 
            </div>
        [/if:payments]
        
    </div>
    <div class="col-md-8"> 
            [admin]
                <div class="well well-admin"> 
                	<h3>Groepsbeheerder</h3>
                    <div class="list-group"> 
                        <a href="[url]" class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left" src="[img:src:70x70]"> 
                                <div class="media-body">
                                    <h4 class="media-heading">[name]</h4>
                                    level [level]
                                </div>
                            </div>
                        </a> 
                    </div>
                </div>
            [/admin]
            
            [if:market]
                <div class="well well-recenteactiviteit">
                    <h3>Recente Activiteit <span class="badge">[market:count]</span></h3>
    
                    <div class="list-group">
                        [market:5]
							[include:group.market.html]
                        [/market:5] 
                    	<a name="moremarket"></a>
                    </div>
  					[if:market>5]<p class="meer"><a href="#moremarket" class="loadmore" group="[id]" start="6" list="market" count="5" template="group.market.html">meer...</a></p>[/if:market>5] 
                </div>
			[/if:market]
        </div>
    </div>
     