<div class="col-sm-12 grouplistitem" id="groupfromlist[id]">
    <div class="well">
        <div class="row">
            <div class="col-sm-2 h100">
				<img src="[profileimg:100x100]" height="100%" class="mainprofile img-responsive" />
            </div>
            <div class="col-sm-8 h100">
                <h2><a href="[link]" class="link" target="_blank">[name]</a></h2>
                <p class="website"><a href="[website]" target="_blank" class="link">[website]</a></p>
                <p class="description">[description:75]</p>
            </div>
            <div class="col-sm-2 h100 addknop"><img src="img/plus.png" height="100%" alt="toevoegen" /></div>
        </div>
    </div>
</div>