<div class="col-sm-12 grouplistitem" id="groupfromlist[id]" style="display: block; overflow: auto; border-bottom: 1px solid black; padding-bottom: 10px; margin-bottom: 10px; ">

        <img src="[profileimg:100x100]" style="max-width: 300px; float: left; " class="mainprofile img-responsive" />
        <p class="website"><a href="[website]" target="_blank" class="link">[website]</a></p>
        <p class="description">[description]</p>
        <p class="description"><strong>Wij zoeken:</strong> [wijzoeken]</p>
</div>