<div class="col-sm-12 grouplistitem" id="groupfromlist[id]">
    <div class="well">
        <div class="row">
            <div class="col-sm-2 h100">
				<img src="[profileimg:100x100]" height="100%" class="mainprofile img-responsive" />
            </div>
            <div class="col-sm-10 h100">
                <h2><a href="[link]" class="link" target="_blank">[name]</a></h2>
                <p class="website">&nbsp;&nbsp;[website:shortlink]</p>
                <p class="description">[description:75]</p>
            </div>
        </div>
    </div>
</div>