<p>Hallo [name]</p>
<p>Je ontvangt dit bericht omdat je je wachtwoord wilt wijzigen voor je gebruikersaccount op OWAES</p>
<p><a href="[recoverurl]">Doorgaan en een nieuw wachtwoord kiezen</a></p>
<p>Je gebruikersnaam, voor het geval je het zou vergeten: [username]</p>
<p>Bedankt om te registreren!</p>
<p>Nog een prettige dag,</p>
<p>Het OWAES Team</p>
<p><small>Dit bericht is verzonden aan: [email]
<br />Je ontvangt deze mail omdat iemand klikte op de paswoord vergeten-link op OWAES.
<br />Open [recoverurl] in uw browser als de link niet werkt
<br />De link vervalt om [recoverexpirydate], als jij deze mail niet aangevraagd hebt hoef je niets te doen
</small></p>