<p>Hallo [name]</p>
<p>Er schreef zich een nieuwe gebruiker in voor de stagemarkt. </p>
<ul>
	<li>Naam: [firstname] [lastname]</li>
    <li>E-mailadres: [email]</li>
    <li>Bedrijf: [groepsnaam]</li>
    <li>Omschrijving: [groepsdescription]</li>
    <li>Interesse: [interesse]</li>
</ul>
<p>Is dit een gebruiker die u kent, surf dan naar <a href="[[absroot]]" target="_blank">OWAES</a> om zijn inschrijving te bevestigen.  </p>

<p>Nog een prettige dag,</p>
<p>Het OWAES Team
<br />[[absroot]]</p>
<p><small>Dit bericht is verzonden aan: [email] </small></p>