<div class="modal fade modalfeedback" id="feedback-[market:id]-[user:id]">
  <div class="modal-dialog">
  
    <form action="[currentfile]"> 
        <input type="hidden" name="refresh" value="[qry:refresh]" />
        <input type="hidden" name="score" class="stars" value="5" />
        <input type="hidden" name="market" value="[market:id]" />
        <input type="hidden" name="receiver" value="[user:id]" /> 
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Feedback</h4>
          </div>
          <div class="modal-body">
            <h3>[market:title]</h3>
            <p>Hoe tevreden ben je over de samenwerking met [user:name]</p>
            <ol class="stars">
                <li><a href="#1" rel="1" class="stars">Helemaal niet tevreden</a></li>
                <li><a href="#2" rel="2" class="stars">Onvoldoende tevreden</a></li>
                <li><a href="#3" rel="3" class="stars">Matig tevreden</a></li>
                <li><a href="#4" rel="4" class="stars">Tevreden</a></li> 
                <li><a href="#5" rel="5" class="stars">Uiterst tevreden</a></li>
            </ol>
            <span class="stars">Uiterst tevreden</span>
          </div>
          <div class="modal-body">  
                <label for="description" class="control-label col-lg-12">Jouw feedback:</label>
                <div class="col-lg-12">
                    <textarea name="comment" class="form-control" placeholder="Geef je feedback voor [user:name]"></textarea>
                </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success save-form" data-dismiss="modal">versturen</button>
            <button type="button" class="btn btn-cancel later-form" data-dismiss="modal">niet nu</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->