
<div class="modal fade modaltransaction" id="transaction-[market:id]-[user:id]">
  <div class="modal-dialog">
    <form action="[currentfile]" id="transactionmodal">
        <input type="hidden" name="refresh" value="[qry:refresh]" />
        <input type="hidden" name="market" value="[market:id]" />
        <input type="hidden" name="receiver" value="[user:id]" /> 
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">[[Creditoverdracht]]</h4>
          </div>
          <div class="modal-body">
            <h3>[title]</h3> 
            <p>Draag <input type="number" min="1" max="[max]" name="credits" value="[credits]" pattern="[1-9][0-9]*" title="Draag minimum 1 [[credit]] over" placeholder="[[credits]]" class="credits" onchange="testTransaction(this);" /> [[credits]] over naar [firstname]. </p>  
            <div class="alert alert-danger transactionerror" style="display: none; "></div>
			<script>
                function testTransaction(oEl) {
                    iVal = $(oEl).val() * 1; 
					iMax = [max]; 
                    if (iVal > iMax) {
                        $("button.save-form").addClass("disabled"); 
                        $(".transactionerror").html("U kunt maximum [max] [[credits]] overdagen! ").show(); 
                    } else {
                        $("button.save-form").removeClass("disabled"); 
                        $(".transactionerror").hide(); 
                    }
                }
				function postpone(iTime) {
					$("input#postpone").val(iTime); 
					$("form#transactionmodal").submit(); 
					return false; 
				}
            </script> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success save-form" data-dismiss="modal">versturen</button> 
            <div class="btn-group">
              <button type="button" class="btn btn-cancel dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                niet nu <span class="caret"></span>
              </button>
              <ul class="dropdown-menu postpone" style="text-align: left; ">
                <li><a href="#" rel="1" class="postpone-form" data-dismiss="modal">morgen</a></li>
                <li><a href="#" rel="7" class="postpone-form" data-dismiss="modal">volgende week</a></li>
                <li><a href="#" rel="14" class="postpone-form" data-dismiss="modal">binnen 2 weken</a></li> 
                <li><a href="#" rel="30" class="postpone-form" data-dismiss="modal">volgende maand</a></li> 
              </ul> 
            </div>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->