<div class="modal fade modalnextlevel" id="lvlModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Gefeliciteerd!</h4>
      </div>
      <div class="modal-body">
        <p>Je verdiende de badge "<span style="font-style: italic; ">[title]</span>"!</p>
        <div class="well">
            <img src="[img]" style="float: left; margin: 0 15px 10px 0; " /> 
            <h4>[title]</h4>
            <p>[info]</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->