<div class="modal fade modalreport" id="report">
  <div class="modal-dialog">
  
    <form action="[currentfile]"> 
        <input type="hidden" name="refresh" value="[qry:refresh]" />
        <input type="hidden" name="market" value="[market:id]" />
        <input type="hidden" name="user" value="[user:id]" /> 
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Misbruik melden</h4>
          </div>
          <div class="modal-body">
              <div class="col-lg-12">
                <p>Gebruik dit formulier om misbruik van het OWAES-platform te melden.</p>
                [data]
            </div>
            <label for="description" class="control-label col-lg-12">Extra info:</label>
            <div class="col-lg-12">
                <textarea name="comment" class="form-control" placeholder="Extra info (optioneel)"></textarea>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-cancel" data-dismiss="modal">annuleren</button>
            <button type="button" class="btn btn-success save-form"  data-dismiss="modal">versturen</button> 
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->