<div class="modal fade" id="VWModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Algemene voorwaarden</h4>
      </div>
      <div class="modal-body">
        <div style="height: 50vh; overflow: auto; " class="well">
        [file:algemenevoorwaarden.html]
        </div>
        [melding] 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->