<div class="modal fade alert">
  <div class="modal-dialog"> 
  <form action="[currentfile]"> 
        <input type="hidden" name="redirect" value="[mainpage]" /> 
        <input type="hidden" name="delete" value="[id]" /> 
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">[title]</h4>
          </div>
          <div class="modal-body">
            <p>Weet je zeker dat je dit item wilt verwijderen? </p>
            
			[xtra]
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default save-form" data-dismiss="modal">OK</button> 
            <button type="button" class="btn btn-cancel" data-dismiss="modal">annuleren</button> 
          </div>
        </div><!-- /.modal-content --> 
	</form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->