<div class="modal fade modaltransaction" id="transaction-[market:id]-[user:id]">
  <div class="modal-dialog">
    <form action="[currentfile]">
        <input type="hidden" name="refresh" value="[qry:refresh]" />
        <input type="hidden" name="market" value="[market:id]" />
        <input type="hidden" name="receiver" value="[user:id]" />
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">[[Creditoverdracht]]</h4>
          </div>
          <div class="modal-body">
            <h3>[title]</h3> 
            <p>Draag <input type="number" min="1" max="[max]" name="credits" value="[credits]" pattern="[1-9][0-9]*" title="Draag minimum 1 [[credit]] over" placeholder="[[credits]]" class="credits" /> [[credits]] over naar [firstname]. </p>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success save-form" data-dismiss="modal">versturen</button>
            <button type="button" class="btn btn-cancel later-form" data-dismiss="modal">niet nu</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->