<div class="modal fade" id="VWModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">E-mailvalidatie</h4>
      </div>
      <div class="modal-body">
        <div style="height: 50vh; overflow: auto; " class="well">
        [include:algemenevoorwaarden.html]
        </div>
		Uw e-mailadres <em>[email]</em> werd nog niet gevalideerd. Controleer uw mailbox en klik de validatielink om verder te doen. 
      </div>
      <div class="modal-footer">
      	<a class="btn btn-danger" href="logout.php">uitloggen</a> 
      </div>
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->