<div class="owaes owaeslisstyle [classes]">
	<div class="left">
   		<div class="authorimg userid [author:type]" rel="[author:key]"><a href="[author:url]"><img src="[author:img:30x30]" /></a></div> 
    </div>
    <div class="right">
		<div class="info">
            <h2><a href="[link]">[title]</a></h2> 
            <div class="data">[data]</div>
            <div class="timing">Tijdsduur: [timing]</div> 
        </div>
        <div class="actions"> 
            <div class="subscribe">[subscribe]</div>
            [actions]
        </div>
    </div>
</div>