<div class="owaes owaeslisstyle [classes]"> 
      <div class="right">
          
		<div class="info">

            <div class="row">
                <div class="col-md-1">
                    <div class="row">
                         <div class="authorimg userid [author:type]" rel="[author:key]"><a href="[author:url]"><img src="[author:img:90x90]" /></a></div> 
                    </div>
                   <div class="row">
                   		<div class="development">[development]</div>
                   </div>
                      
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h2><a href="[link]">[title]</a><span class="icon soortIcon">[soortIcon]</span></h2>
                        <div class="short">[body:short]</div> 
                    </div>

                     <div class="row detailInfoItem">
                     

                        <div class="col-md-4 veld naam "><span class="icon icon-user"></span><span>[author]</span></div>
                        <div class="col-md-4 veld data "><span class="icon icon-calendar"></span><span>[data]</span></div> 
                        <div class="col-md-4 veld credits "><span class="icon icon-credits"></span><span>[credits]</span></div>
                        <div class="col-md-4 veld adres "><div><span class="icon icon-position"></span></div><div class="adresDetails"><span>[author:adress]</span></div></div>
                       	<div class="col-md-4 veld timing "><span class="icon icon-timing"></span> <span>[timing]</span></div>
                        <div class="col-md-4 veld inschrijvingen "><span class="icon icon-inschrijvingen"></span><span>[aantalInschrijvingen]</span></div>
                       
            		</div>

                </div>
                <div class="col-md-3"> 
                    <div class="location">[locationimg:100x100]</div>
                </div>

            </div> 
            <div class="row tagsRow">
                 <div class="tags">[tags]</div>
            </div>           
        </div>
    </div>
</div>