<div class="owaes owaeslisstyle owaesDetail [classes]">
      <div class="actions">
            <div class="subscribe">[subscribe]</div>
            [actions]
      </div>
      <div class="right">
          
		<div class="info">

            <div class="row">
                <div class="col-md-1">
                    <div class="row">
                         <div class="authorimg userid [author:type]" rel="[author:key]"><a href="[author:url]"><img src="[author:img:90x90]" /></a></div> 
                    </div>
                   <div class="row">
                            <div class="development">[development]</div>
                   </div>
                      
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h2><a href="[link]">[title]</a><span class="icon soortIcon">[soortIcon]</span></h2>
                        <div class="short">[body]</div> 
                    </div>


                     <div class="row detailInfoItem">
                     


                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-user"></span>
                            <span class="value">[author]</span>
                        </div>
                        
                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-timing"></span>
                            <span class="value">[timing]</span>
                        </div>
                        
                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-position"></span>
                            <span class="value">[location]</span>
                        </div>
                        
                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-credits"></span>
                            <span class="value">[if:credits][credits] credits[else:credits]overeen te komen[/if:credits]</span>
                        </div>
                        
                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-calendar"></span>
                            <span class="value">[data]</span>
                        </div>
                        
                        <div class="col-sm-4 owaesdetails">
                            <span class="icon icon-inschrijvingen"></span>
                            <span class="value">[aantalInschrijvingen] 
                        </div>  
            		</div>
                     
                    <div class="row tagsRow">
                         <div class="extrainfo">geplaatst op [createdate] - <a href="[report]" class="domodal">misbruik</a> </div>
                         <div class="tags">[tags]</div>
                    </div>      

                </div>
                <div class="col-md-3"> 
                    <div class="location">[locationimg:100x100]</div>
                </div>

            </div>      
        </div>
    </div>
</div>

<div>
	[flow]
</div>