<div class="col-sm-12 result owaes [classes]" id="owaesinlist[id]" lat="[latitude]" long="[longitude]">
	<div class="well"><div class="oa">
        <div class="col-sm-2"> 
        	<div class="row"><a href="[author:url]"><img src="[author:img:120x120]" width="100%" /></a></div>
            <div class="row"><div class="development">[development]</div></div>
        </div>
        <div class="col-sm-10">
            <h2><a href="[link]">[title]</a><span class="icon soortIcon">[soortIcon]</span></h2>
            <div class="short info">[body:short]</div> 
            <div class="row">
            	<div class="col-sm-4 owaesdetails">
                	<span class="icon icon-user"></span>
                    <span class="value">[author]</span>
                </div>
                
            	<div class="col-sm-4 owaesdetails">
                	<span class="icon icon-timing"></span>
                    <span class="value">[timing]</span>
                </div>
                
            	<div class="col-sm-4 owaesdetails">
                	<span class="icon icon-position"></span>
                    <span class="value">[location]</span>
                </div>
                
            	<div class="col-sm-4 owaesdetails">
                	<span class="icon icon-credits"></span>
                    <span class="value">[if:credits][credits] credits[else:credits]overeen te komen[/if:credits]</span>
                </div>
                
            	<div class="col-sm-4 owaesdetails">
                	<span class="icon icon-calendar"></span>
                    <span class="value">[data]</span>
                </div>
                
                <div class="col-sm-4 owaesdetails">
                    <span class="icon icon-inschrijvingen"></span>
                    <span class="value">[aantalInschrijvingen]</span>
                </div>
                
            </div> 
            <div class="row tags">[tags]</div> 
        </div>  
    </div></div>
</div>