<form method="post"> 
	<br />[[credits]]: 
    <input type="shidden" name="credits" value="[credits]" />
	<br />dinges: 
    <input type="shidden" name="physical" value="[physical]" />
    <input type="shsidden" name="mental" value="[mental]" />
    <input type="dhidden" name="emotional" value="[emotional]" />
    <input type="hsidden" name="social" value="[social]" />
    <div>
        <h2>Beloon</h2>
        <p>[credits] [[credits]]</p>
        <p>Stars: <input type="text" name="stars" id="stars" value="[stars]" /></p>
        echo $oOwaesItem->developmentBoxes();
        [boxes]
        <p>
            Publieke feedback: 
            <textarea name="publicfeedback"></textarea>
        </p>
        <p>
            Persoonlijke feedback: 
            <textarea name="personalfeedback"></textarea>
        </p>
        <input type="submit" name="beloon" value="verzenden" />
    </div>
</form>