<div class="col-sm-4 col-user col-user-4">
    <form class="search-sm" role="search" method="get" action="search.php">
        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Zoeken naar mensen, activiteiten, ..." value="[qry:q]" />
        </div>
    </form>
</div>
<div class="col-sm-8 col-user col-user-8">
    <div class="panel panel-default panel-profile-sm">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-10">
                    <p class="gebruikers-naam"><a href="[link]">[firstname] [lastname]</a></p>
                    <div class="progress progress-experience" title="Vooruitgang: [levelpercentage]%">
                        <div class="progress-bar progress-bar-experience" role="progressbar" aria-valuenow="[experience:confirmed]" aria-valuemin="[leveltreshold:min]" aria-valuemax="[leveltreshold]" style="width: [levelpercentage]%;">
                            <span class="sr-only">[levelpercentage]% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="credits" title="U heeft [#credits] [[credits]]">[credits]</p>
                    <p class="level">Level <span class="levelvalue">[level]</span></p>
                </div>
            </div>
        </div>
    </div>
</div>