<div class="row">
    <div class="col-md-12">
        <div class="well well-profile">
            <div class="row">
                <div class="col-sm-2 profielafbeelding">
                    <img src="[profileimg:155x155]" width="155" class="mainprofile img-responsive" />
                </div>
                <div class="[if:me]col-sm-10[/if:me] [if:notme]col-sm-8[/if:notme] basisgegevens">
                    <h2 class="naam"> 
                    	[firstname] [lastname] 
                    	[if:me]<span data-toggle="modal" data-target="#editBasisgegevens" class="icon icon-settings"></span>[/if:me]
                    </h2>
                    <h3 class="level-stars"><span class="level">Level [level]</span><span class="stars">[stars]</span></h3>

                    <ul class="socialmedia">
                        [if:data:facebook]<li><a href="[data:facebook]" target="_blank"><span class="icon-facebook"></span></a></li>[/if:data:facebook] 
                        [if:data:twitter]<li><a href="[data:twitter]" target="_blank"><span class="icon-twitter"></span></a></li>[/if:data:twitter] 
                        [if:data:linkedin]<li><a href="[data:linkedin]" target="_blank"><span class="icon-linkedin"></span></a></li>[/if:data:linkedin] 
                        [if:data:plus]<li><a href="[data:plus]" target="_blank"><span class="icon-googleplus"></span></a></li>[/if:data:plus] 
                    </ul>
                </div>
                [if:notme]
               	 <div class="col-sm-2">
                    <div class="btn-group-vertical pull-right">
                        <a href="#" class="btn btn-default btn-sm"><span class="icon icon-volgen"></span><span class="title">Volgen</span></a>
                        
                    [if:friend]<a href="[link:addfriend]" class="btn btn-default btn-sm"><span class="icon icon-vriendtoevoegen"></span><span class="title">Ontvrienden</span></a>[/if:friend]
                    [if:nofriend:requested]<a href="#" class="btn btn-default btn-sm"><span class="icon icon-vriendtoevoegen"></span><span class="title">Vriendschap aangevraagd</span></a>[/if:nofriend:requested]
                    [if:nofriend:asked]<a href="[link:addfriend]" class="btn btn-default btn-sm"><span class="icon icon-vriendtoevoegen"></span><span class="title">Vriendschap bevestigen</span></a>[/if:nofriend:asked]
                    [if:nofriend:noconnection]<a href="[link:addfriend]" class="btn btn-default btn-sm"><span class="icon icon-vriendtoevoegen"></span><span class="title">Vriend toevoegen</span></a>[/if:nofriend:noconnection]
  
                        <a href="[link:contact]" class="btn btn-default btn-sm"><span class="icon icon-berichtsturen"></span><span class="title">Bericht sturen</span></a>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Meer ... 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu"> 
                                [actions]
                                <li class="divider"></li>
                                <li><a href="#">Rapporteren</a></li>
                                <li><a href="#">Blokkeren</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                [/if:notme]

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"> 
    	[if:friends]
            <div class="well well-vrienden">
                <h3>Vrienden <span class="badge">[friends:count]</span></h3>
    
                <div class="list-group">
                    [for:friends:3][file:userprofile.friend.html][/for:friends:3]  
                    <a name="morefriends"></a>
                </div>
   				[if:friends>3]
                    <p class="meer"><a href="#morefriends" class="loadmore" start="4" user="[id]" list="friends" count="5" template="userprofile.friend.html">meer...</a></p>
                [/if:friends>3]
            </div>
		[/if:friends]
        

        [if:groups]
            <div class="well well-bedrijven">
                <h3>Groepen <span class="badge">[groups:count]</span></h3>
    
                <div class="list-group">
                    [for:groups]
                        <a href="[link]" class="list-group-item">
                            <div class="media">
                                <img class="media-object pull-left" src="[profileimg:70x70]"> 
                                <div class="media-body">
                                    <h4 class="media-heading">[naam]</h4>
                                    <p>[description:short]</p>
                                </div>
                            </div>
                        </a>
                    [/for:groups]  
                </div> 
            </div>
        [/if:groups]
        
<!-- 
        <div class="well well-volgend">
            <h3>Volgend <span class="badge">xx</span></h3>

            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/a968da0c59bf39309b47ca1d284a511e.png">
                        <div class="media-body">
                            <h4 class="media-heading">Katrien Janssens</h4>level 3
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/4d04dacc91b21440b0c9713d55880374.jpg">
                        <div class="media-body">
                            <h4 class="media-heading">Lucas Nijkerke</h4>level 11
                        </div>
                    </div>
                </a>
            </div>

            <p class="meer"><a href="#">meer...</a></p>
        </div>
        
        <div class="well well-volgers">
            <h3>Volgers <span class="badge">xx</span></h3>

            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/janne.jpg">
                        <div class="media-body">
                            <h4 class="media-heading">Moniek Hoenders</h4>level 2
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item">
                    <div class="media">
                        <img class="media-object pull-left" src="upload/profiles/fa33f5eb68e16912f13c885923c987d6.jpg">
                        <div class="media-body">
                            <h4 class="media-heading">Donald Hinderiks</h4>level 3
                        </div>
                    </div>
                </a>
            </div>

            <p class="meer"><a href="#">meer...</a></p>
        </div>
        -->
        
		[if:payments]
            <div class="well well-transacties">
                <h3>Transactie's <span class="badge">[payments:count]</span></h3>
    
                <div class="list-group">
                    [for:payments:5][file:userprofile.payments.html][/for:payments:5] 
                    <a name="morepayments"></a>
                </div> 
                [if:payments>5]<p class="meer"><a href="#morepayments" class="loadmore" user="[id]" start="6" list="payments" count="5" template="userprofile.payments.html">meer...</a></p>[/if:payments>5] 
            </div>
		[/if:payments]
    </div> 
    <div class="col-md-8">
            <div class="well well-intro">
                <h3>
                    Info
                    [if:me]<span data-toggle="modal" data-target="#editPersoonlijkeInformatie" class="icon icon-settings"></span>[/if:me]
                </h3>
                <p>[showurls][description][/showurls]</p>
                [userdetails] 
            </div>
           
           [if:notme]
               [if:files]
               <div class="well well-intro"> 
                    <h3>Bestanden</h3>
                    <ul class="varia">
                        [for:files]<li><img src="[icon:64x64]" /> <a href="[link]" target="_blank">[title]</a></li>[/for:files]
                    </ul>
                </div>
                [/if:files]
            [/if:notme]
            [if:me]
               <div class="well well-intro"> 
                    <h3>
                        Bestanden
                        <span data-toggle="modal" data-target="#editBestanden" class="icon icon-settings"></span>
                    </h3>
                    <ul class="varia">
                        [for:files]<li><img src="[icon:64x64]" /> <a href="[link]" target="_blank">[title]</a></li>[/for:files]
                    </ul>
                </div> 
            [/if:me]
              
            
            <div class="well well-badges">
                <h3>Badges <span class="badge">[badges:count]</span></h3>
                [badges]
                <!--<ul class="badges">
                    <li>
                        <img class="" title="Profielfoto" data-original-title="Profielfoto" data-content="Deze gebruiker heeft een profielfoto ingesteld. Way to go!" src="img/badges/photo.png" alt="Profielfoto" width="57" height="57">
                    </li>
                </ul>-->
            </div>
            <div class="well well-certificaten">
                <h3>Certificaten <span class="badge">[certificates:count]</span></h3>
                [certificates]
            </div>
            
            [if:activities]
                <div class="well well-recenteactiviteit">
                    <h3>Activiteiten <span class="badge">[activities:count]</span></h3>
    
                    <div class="list-group">
                        [for:activities:5][file:userprofile.activities.html][/for:activities:5] 
                  		<a name="moreactivities"></a>
                    </div> 
                    [if:activities>5]<p class="meer"><a href="#moreactivities" class="loadmore" user="[id]" start="6" list="activities" count="5" template="userprofile.activities.html">meer...</a></p>[/if:activities>5]
                </div>
            [/if:activities]
            
        </div>
    </div>
    
[if:me]
    <!-- Edit Modals -->
    <!--editBasisgegevens-->
    <div class="modal fade" id="editBasisgegevens" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal basisgegevens" method="post" enctype="multipart/form-data"> 
                	[editprofile-key]
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Basisgegevens aanpassen</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <h4>Gegevens</h4>
                            <div class="form-group">
                                <label for="firstname" class="control-label col-lg-2">Voornaam:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="firstname" class="firstname form-control" id="firstname" placeholder="Voornaam" value="[firstname]" />
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:firstname]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="control-label col-lg-2">Familienaam:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="lastname" class="lastname form-control" id="lastname" placeholder="Familienaam" value="[lastname]" />
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:lastname]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="profielfoto" class="control-label col-lg-2">Profielfoto:</label>
                                <div class="col-lg-6">
                                    <input type="file" name="img" id="img" ext="jpg,jpeg,gif,bmp,png" lass="form-control" id="profielfoto">
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:img]
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="socialmedia" class="control-label col-lg-3">Social Media:</label>
                            </div>-->
                            <h4>Social Media</h4>
    
                            <div class="form-group">
                                <label for="" class="control-label col-lg-2">Facebook:</label>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon icon icon-facebook"></span>
                                        <input type="text" id="facebook" name="facebook" value="[data:facebook]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:data:facebook]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-lg-2">Twitter:</label>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon icon icon-twitter"></span>
                                        <input type="text" id="twitter" name="twitter" value="[data:twitter]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:data:twitter]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-lg-2">LinkedIn:</label>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon icon icon-linkedin"></span>
                                        <input type="text" id="linkedin" name="linkedin" value="[data:linkedin]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:data:linkedin]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label col-lg-2">Google Plus:</label>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon icon icon-googleplus"></span>
                                        <input type="text" id="plus" name="plus" value="[data:plus]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:data:plus]
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white btn-cancel" data-dismiss="modal">Sluiten</button>
                        <input type="submit" class="btn btn-default btn-save" value="Opslaan" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--editPersoonlijkeInformatie-->
    <div class="modal fade" id="editPersoonlijkeInformatie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal persoonlijkeinformatie" method="post">
                	[editprofile-key]
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Persoonlijke informatie aanpassen</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <h4>Intro</h4>
                            <div class="form-group col-lg-12">
                                <textarea name="description" class="form-control" placeholder="Plaats hier een introductie over jezelf.">[description:pure]</textarea>
                            </div> 
                            <h4>Andere informatie</h4> 
                            <div class="form-group">
                                <label for="geslacht" class="control-label col-lg-2">Geslacht:</label>
                                <div class="col-lg-6">
                                    <select name="gender" class="form-control">
										[options:gender]
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:gender]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="geboortedatum" class="control-label col-lg-2">Geboortedatum:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="birthdate" class="geboortedatum form-control" id="geboortedatum" placeholder="Geboortedatum" value="[birthdate]" />
                                    <!--<div class="input-group date test">
                                        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>-->
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:birthdate]
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="telefoonnummer" class="control-label col-lg-2">Telefoonnummer:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="telephone" class="telefoonnummer form-control" id="telefoonnummer" placeholder="Telefoonnummer" value="[telephone]" />
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:telephone]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-lg-2">Email:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="email" class="email form-control" id="email" placeholder="Email" value="[email]" />
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:email]
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="woonplaats" class="control-label col-lg-2">Woonplaats:</label>
                                <div class="col-lg-6">
                                    <input type="text" name="location" class="woonplaats form-control" id="woonplaats" placeholder="Woonplaats" value="[location]" />
                                </div>
                                <div class="col-lg-4">
                                    [select:visible:location]
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white btn-cancel" data-dismiss="modal">Sluiten</button>
                        <input type="submit" class="btn btn-default btn-save" value="Opslaan" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--editBestanden-->
    <div class="modal fade" id="editBestanden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form-horizontal bestanden" method="post" enctype="multipart/form-data"> 
                	[editprofile-key]
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Bestanden toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <h4>Bestanden</h4>
                            <div class="files">
                                [for:files] 
									<div class="form-group file-uploaden"> 
                                    
                                        <input type="hidden" name="existingfiles[]" class="existingfiles" value="xfiletitle-[key],xfilename-[key],xfilevisibility-[key],[key]" />
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control filetitle" name="xfiletitle-[key]" placeholder="Titel voor bestand" value="[htmlencode][title][/htmlencode]" />
                                        </div>
                                        <div class="col-lg-5">
                                            <input type="text" name="xfilename-[key]" disabled="disabled" value="[filename]" class="form-control">
                                        </div>
                                        <div class="col-lg-4"> 
                                        	[select:visible:file] 
                                        </div>
									</div>
                                [/for:files]
                                
                                <div class="form-group file-uploaden">
                                	<input type="hidden" name="files[]" class="veldnamen" value="bestandtitel0,bestand0,zichtbaar0" />
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control filetitle" name="bestandtitel0" placeholder="Titel voor bestand">
                                    </div>
                                    <div class="col-lg-5">
                                        <input type="file" name="bestand0" ext="pdf,doc,docx,txt,jpg,jpeg,gif,bmp,png,xls,xlsx,md,ppt,pps,odt,ods,odp,csv,svg" class="form-control filedata">
                                    </div>
                                    <div class="col-lg-4"> 
                                        <select class="form-control" name="zichtbaar0"> 
                                            <option selected="selected" value="1">Zichtbaar voor iedereen</option>
                                            <option value="2">Enkel zichtbaar voor vrienden</option>
                                            <option value="0">Verborgen</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <a class="bestand-toevoegen"><span class="add">+</span><span class="title">Nog een bestand toevoegen...</span></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white btn-cancel" data-dismiss="modal">Sluiten</button>
                        <input type="submit" class="btn btn-default btn-save" value="Opslaan" />
                    </div>
                </form>
            </div>
        </div>
    </div>
[/if:me]