<div class="col-sm-6 userlistitem" id="userfromlist[id]">

    [if:notme]
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                Acties <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"> 
                [actions] 
            </ul>
        </div>
    [/if:notme]

    <div class="well">
        <div class="row">
            <div class="col-sm-2">
                <a href="[link]"><img src="[profileimg:90x90]" width="90" class="mainprofile img-responsive" /></a>
            </div>
            <div class="col-sm-8">
                <h2><a href="[link]">[firstname] [lastname]</a></h2>
                <p class="level-stars"><span class="level">Level [level]</span><span class="stars">[stars]</span></p>
                <p class="location">[location]</p>
                [badges]
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>