<div class="col-sm-4 col-user col-user-4">
    <form class="search-sm" role="search" method="get" action="search.php">
        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Zoeken naar mensen, activiteiten, ..." value="[qry:q]" />
        </div>
    </form>
</div>
<div class="col-sm-8 col-user col-user-8">
    <div class="panel panel-default panel-profile-sm">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5">
                    <p class="gebruikers-naam"><a href="[link]">[firstname] [lastname]</a></p>
                    <div class="progress progress-experience" title="Vooruitgang: [levelpercentage]%">
                        <div class="progress-bar progress-bar-experience" role="progressbar" aria-valuenow="[experience:confirmed]" aria-valuemin="0" aria-valuemax="[leveltreshold]" style="width: [levelpercentage]%;">
                            <span class="sr-only">[levelpercentage]% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <p class="credits" title="U heeft [#credits] credits">[credits]</p>
                    <p class="level">Level <span class="levelvalue">[level]</span></p>
                </div>
                <div class="col-xs-5">
                    <div class="indicatoren">
                        <div class="progress progress-sociaal" title="Sociaal: [social]%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[social]" aria-valuemin="0" aria-valuemax="100" style="width: [social]%;">
                                <span class="sr-only">[social]% Sociaal</span>
                            </div>
                        </div>
                        <div class="progress progress-fysiek" title="Fysiek: [physical]%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[physical]" aria-valuemin="0" aria-valuemax="100" style="width: [physical]%;">
                                <span class="sr-only">[physical]% Fysiek</span>
                            </div>
                        </div>
                        <div class="progress progress-mentaal" title="Kennis: [mental]%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[mental]" aria-valuemin="0" aria-valuemax="100" style="width: [mental]%;">
                                <span class="sr-only">[mental]% Kennis</span>
                            </div>
                        </div>
                        <div class="progress progress-welzijn" title="Welzijn: [emotional]%">
                            <div class="progress-bar" role="progressbar" aria-valuenow="[emotional]" aria-valuemin="0" aria-valuemax="100" style="width: [emotional]%;">
                                <span class="sr-only">[emotional]% Welzijn</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>